<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
  <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <h3> <br>      Error, página no encontrada </h3>
  <img src="imagen/error2.png" alt="">>
</body>
<script scr="app.js"></script>
</html>