<header id="head" class="bannergeneral ">  
     <nav>
        <h1 class="titulo">  Mundo café</h1> 
        <ul class="menuSuperior">
            <li><a href="http://localhost:8000/home">Home</a></li>
            <li><a href="http://localhost:8000/tienda">Tienda</a></li>
            <li><a href="http://localhost:8000/nosotras">Nosotras</a></li>
            <li><a href="http://localhost:8000/contacto">Contacto</a></li>
        </ul>
        <aside ><a href="#pie-pagina" class="headerEnlace"> Ir abajo</a></aside> 
     </nav>     
</header>  


 
 
 
 
 
 
