<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo café</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" >
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <header id="head" class="banner">
     <nav>
        <h1 class="tituloHome">  Mundo café</h1> 
        <ul class="menuSuperiorHome">
            <li><a href="http://localhost:8000/home">Home</a></li>
            <li><a href="http://localhost:8000/tienda">Tienda</a></li>
            <li><a href="http://localhost:8000/nosotras">Nosotras</a></li>
            <li><a href="http://localhost:8000/contacto">Contacto</a></li>
        </ul>
        <br>
        <aside> <a href="#pie-pagina" class="headerEnlaceHome">  Ir abajo</a></aside>  
     </nav>
<div class="historia">
    Venta MINORISTA y MAYORISTA de café nacional e importado
</div>  
</header>  
 <aside class="contenido" >
        <div >
        <h3 href="/public/index.html">  Variedades:
        <br><br>
            <ul class="variedades"><li>Cafés (tostado, americano, capuccino)</li><br>
            <li>Desayunos (frutas, panqueques, jugos y más)</li><br>
            <li>Meriendas (facturas, chocolatada y más)</li><br>
            <li>Postres (helados, tiramisú y más) </li></h3>
        </ul></div> 
  <nav >
    <h1 class="tituloDestacado" >Visitá los destacados!</h1>
    <ul class="destacados">
      <li><a class="fotos" href=""><img src="./imagen/premium.jpg" class=""></a></li>
      <li><a class="fotos" href=""><img src="./imagen/chocolatado.jpg" class=""></a></li></ul>
    <ul class="destacados">
      <li><a class="fotos" href=""><img src="./imagen/frappe.jpg" class=""></a></li>
      <li><a class="fotos" href=""><img src="./imagen/tostado.jpg" class=""></a></li>
    </ul>
  </nav> 
    </aside> 
        <div><br>
            <h3 class = "titulo2">Animate a probar otro café  </h3>
                 <p class="contenedorFlex">
                
                El café, la bebida elegida por millones de personas, en todas las culturas y de todas las edades, para acompañar sus mañanas o sobremesas.
                Dejate tentar por nuestras nuevas variedades...
                Ofrecemos café de la más alta calidad.  
                También brindamos servicios de CAPACITACIÓN para nuestros clientes mayoristas, y contamos con servicio de POSTVENTA.
              </p>
        </div>
</body> 
{{>footer}} 
<script src="main.js"></script>
<script src="js/jquery-3.3.1.js"></script>
<script src="js/bootstrap.js"></script> 
<script src="form.js"></script>
</html>