<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotras</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" >
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    {{>header}}
<h1 class="nos"> 
    <br>
    Somos compañía familiar y argentina. Aspiramos a lograr alcance global, llevando alfajores y chocolates argentinos a distintos mercados internacionales.
    Nuestro principal objetivos es la excelencia en el servicio y en la calidad de nuestros productos.
    No sólo sentimos pasión por el café, sino que nos mantenemos en la permanente búsqueda de mejorar la experiencia del cliente. 
    Somos una compañía fundada en 1903, que durante más de un siglo ha acompañado el crecimiento y cambio de nuestro país, 
    entendiendo y adaptándose a las variaciones en la demanda del mercado. 
    Por qué amamos el café?: en diversas culturas a lo largo y ancho del mundo el café es considerada la mejor opción para comenzar el día, 
    siendo de gran ayuda para despertar!
    Está pasión por el café nos motiva a elaborar todos nuestros productos y servicios con altos estándares de calidad, manteniendo su origen artesanal.
    Queremos trasmitir la experiencia Mundo café a través de nuestro estilo de atención: calidez, servicio y pasión.
</h1>
</body>
{{>footer}}
<script src="main.js"></script>
</html>